# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore environment files
.env

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore user-specific files
.idea/
.vscode/
.pem
.csv

# Ignore OS and editor-specific files
.DS_Store
Thumbs.db
*.swp
*.swo

